@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
 * {
	 outline: none;
	 box-sizing: border-box;
     margin: 0;
}
/* ::-webkit-scrollbar {
    display: none;
} */
 :root {
	 --theme-bg-color: rgba(0, 0, 0, );
	 --border-color: rgba(0, 0, 0, );
	 --theme-color: #f9fafb;
	 --inactive-color: #000;
	 --body-font: "Poppins", sans-serif;
	 --hover-menu-bg: rgba(0, 0, 0, );
	 --content-title-color: #999ba5;
	 --content-bg: #000;
	 --button-inactive: #000;
	 --dropdown-bg: #21242d;
	 --dropdown-hover: #000;
	 --popup-bg: #000;
	 --search-bg: #14162b;
	 --overlay-bg: rgba(36, 39, 59, 0.3);
	 --scrollbar-bg: #000;
}
.light-mode {
    --theme-bg-color: #000;
    --theme-color: #3c3a3a;
    --inactive-color: #333;
    --button-inactive: #3c3a3a;
    --search-bg: #000;
    --dropdown-bg: #f7f7f7;
    --overlay-bg: #000;
    --dropdown-hover: #000;
    --border-color: #000;
    --popup-bg: #000;
    --hover-menu-bg: rgba(0, 0, 0, );
    --scrollbar-bg: #000;
    --content-title-color: --theme-color;
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: var(--body-font);
    background-color: gray;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    height: 100vh;
}
@media screen and (max-width: 480px) {
    body {
        padding: 0.8em;
   }
}

img {
    max-width: 100%;
}
.dark-light {
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: var(--dropdown-bg);
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
}
.dark-light svg {
    width: 24px;
    flex-shrink: 0;
    fill: rgb(250, 80, 30);
    stroke: rgb(250, 80, 30);
    transition: 0.5s;
}
.light-mode .dark-light svg {
    fill: transparent;
    stroke: var(--theme-color);
}
.light-mode .profile-img {
    border: 2px solid var(--theme-bg-color);
}
.light-mode .content-section ul {
    background-color: var(--theme-bg-color);
}
.light-mode .pop-up__title {
    border-color: var(--theme-color);
}
.light-mode .dropdown.is-active ul {
    background-color: #000;
}
body.light-mode:before, body.light-mode .video-bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, #000 100%);
    backdrop-filter: saturate(3);
}
.app {
    background-color: var(--theme-bg-color);
    max-width: 1250px;
    max-height: 860px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 14px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    font-size: 15px;
    font-weight: 500;
}
.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 0 30px;
    white-space: nowrap;
}
@media screen and (max-width: 480px) {
    .header {
        padding: 0 16px;
   }
}
.header-menu {
    display: flex;
    align-items: center;
}
.header-menu a {
    padding: 20px 30px;
    text-decoration: none;
    color: var(--inactive-color);
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}
@media screen and (max-width: 610px) {
    .header-menu a:not(.main-header-link) {
        display: none;
   }
}
.header-menu a.is-active, .header-menu a:hover {
    color: var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
}
.notify {
    position: relative;
}
.notify:before {
    content: "";
    position: absolute;
    background-color: #3a6df0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    right: 20px;
    top: 16px;
}
@media screen and (max-width: 1055px) {
    .notify {
        display: none;
   }
}

.basketlogodiv{
    margin-top: 15px;
    display: flex;
    margin-right: 150px;
    display: flex;
    align-items: center;
    font-weight: 800;
    color: white;
    font-style: italic;
    cursor: pointer;
    
    
}
.basketlogodiv p {
    margin-left: -29px;
    color: #1058a0 ;
}
.basketlogo img{
    width: 150px;
    height: 150px;

}

.search-bar {
    height: 40px;
    display: flex;
    width: 100%;
    max-width: 400px;
    padding-left: 16px;
    border-radius: 4px;
}
.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(228, 74, 27);
    border-radius: 4px;
    font-family: var(--body-font);
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px 0 40px;
    box-shadow: 0 0 0 2px  rgb(250, 80, 30);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 16px 48%;
    color: var(--theme-color);
}
.search-bar input::placeholder {
    font-family: var(--body-font);
    color: var(--inactive-color);
    font-size: 15px;
    font-weight: 500;
}
.header-profile {
    display: flex;
    align-items: center;
    padding: 0 16px 0 40px;
    margin-left: auto;
    flex-shrink: 0;
}
.header-profile svg {
    width: 22px;
    color:  rgb(250, 80, 30);
    flex-shrink: 0;
    cursor: pointer;
    
}
.notification {
    position: relative;
}
.notification-number {
    position: absolute;
    background-color: #3a6df0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    right: -6px;
    top: -6px;
}
.notification + svg {
    margin-left: 22px;
}
@media screen and (max-width: 945px) {
    .notification + svg {
        display: none;
   }
}
.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid  rgb(228, 74, 27);
    margin-left: 22px;
    cursor: pointer;
    background-color: rgb(250, 80, 30);
}
.wide .header-menu, .wide .header-profile {
    display: none;
}
.wide .search-bar {
    max-width: 600px;
    margin: auto;
    transition: 0.4s;
    box-shadow: 0 0 0 1px  rgb(228, 74, 27);
    padding-left: 0;
}
.wide .menu-circle {
    margin-right: 0;
}

/* Banner */

/* .banner {
    display: flex;
    align-items: center;
    background-color: #0a4b8b;
    color: #fff;
    height: 300px;
    width: 1000px;
    position: absolute;
    border-radius: 20px;
    margin-top: -70px;
  }
  
  .banner-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  
  .banner-text {
    width: 50%;
    text-align: center;
    padding: 50px;
  }
  
  .banner-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .banner-subtitle {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 300;
  }
 .main-body{
    display: flex;
    position: absolute;
    height: 10px;
    width: 200px ;
    margin-right: 200px;

 } 

 .left-side{
    display: flex;
 }
.right-right{
    display: flex;
} */

/* main */
